<header>
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <%= link_to "Rails CMS", dashboard_path, class: "navbar-item" %>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
    </nav>
</header>

<div class="columns">
    <aside class="column is-2 aside">
        <nav class="menu">
            <ul class="menu-list">
                <li><%= link_to "Dashboard", dashboard_path, class: "menu-item is-active" %></li>
            </ul>
            <p class="menu-label">Management</p>
            <ul class="menu-list">
                <li><a class="menu-item">Pages</a></li>
                <li><a class="menu-item">Posts</a></li>
                <li><a class="menu-item">Assets</a></li>
                <li><a class="menu-item">Comments</a></li>
            </ul>
            <p class="menu-label">Settings</p>
            <ul class="menu-list">
                <li><a class="menu-item">Webhooks</a></li>
                <li><a class="menu-item">Settings</a></li> 
            </ul>
        </nav>
    </aside>

    <div class="column main">
        <section class="section">
            <div class="container">
                <h1 class="title">Dashboard</h1>
            </div>
        </section>
    </div>
</div>
